


<div class="chart-container">
	
	<div class="chart-column">
		<div class="level level-0 [::GENDER::]">
			<div class="details">
				<p>[::THUMBIMG::]</p>
				<h2>[::NAME::]</h2>
			</div>
		</div>
	</div>
	
	<div class="chart-column">
		<div class="level level-1 Male">
			<div class="details">
				<p>[::THUMBIMG_F::]</p>
				<h2>[::NAME_F::]</h2>
			</div>
		</div>
		<div class="level level-1">			
			<div class="details">
				<p>[::THUMBIMG_M::]</p>
				<h2>[::NAME_M::]</h2>
			</div>
		</div>
	</div>

	<div class="chart-column">
		<div class="level level-2 Male">
			<div class="details">
				<p>[::THUMBIMG_FF::]</p>
				<h2>[::NAME_FF::]</h2>
			</div>
		</div>
		<div class="level level-2">
			<div class="details">
				<p>[::THUMBIMG_FM::]</p>
				<h2>[::NAME_FM::]</h2>
			</div>
		</div>
		<div class="level level-2 Male">
			<div class="details">
				<p>[::THUMBIMG_MF::]</p>
				<h2>[::NAME_MF::]</h2>
			</div>
		</div>
		<div class="level level-2">
			<div class="details">
				<p>[::THUMBIMG_MM::]</p>
				<h2>[::NAME_MM::]</h2>
			</div>
		</div>
	</div>

	<div class="chart-column">
		<div class="level level-3 Male">
			<div class="details">
				<h2>[::NAME_FFF::]</h2>
			</div>
		</div>
		<div class="level level-3">
			<div class="details">
				<h2>[::NAME_FFM::]</h2>
			</div>
		</div>
		<div class="level level-3 Male">
			<div class="details">
				<h2>[::NAME_FMF::]</h2>
			</div>
		</div>
		<div class="level level-3">
			<div class="details">
				<h2>[::NAME_FMM::]</h2>
			</div>
		</div>
		<div class="level level-3 Male">
			<div class="details">
				<h2>[::NAME_MFF::]</h2>
			</div>
		</div>
		<div class="level level-3">
			<div class="details">
				<h2>[::NAME_MFM::]</h2>
			</div>
		</div>
		<div class="level level-3 Male">
			<div class="details">
				<h2>[::NAME_MMF::]</h2>
			</div>
		</div>
		<div class="level level-3">
			<div class="details">
				<h2>[::NAME_MMM::]</h2>
			</div>
		</div>
	</div>
	
	
</div>

